Shared_PID.code-workspace
Test.py
syle_informes.mplstyle
borrar.csv
P60fps.mp4
PI60fps.mp4
PID120fps.mp4
PID60fps.mp4
Animaciones/P-120.gif
Animaciones/PID-120.gif
Graficos/agregar tc.png
Graficos/calentador-agua-blanco_134830-512.avif
Graficos/calentador-agua-blanco_134830-512.png
Graficos/Closed-Loop Diagram x1.png
Graficos/Closed-Loop Diagram.png
Graficos/con tc ancho.png
Graficos/con tc.png
Graficos/diagram-20230917.png
Graficos/Dormula D(1).png
Graficos/Dormula D.png
Graficos/drone.jpeg
Graficos/drone.webp
Graficos/Forged 1.jpg
Graficos/Forged 2(1).png
Graficos/Forged 2.png
Graficos/Formula I.png
Graficos/Formula P(1).png
Graficos/Formula P.png
Graficos/img-0056.png
Graficos/Kp_Alto.png
Graficos/Kp_Bajo.png
Graficos/Open-Loop Diagram.png
Graficos/Open-Loop-Diagram.pdf
Graficos/Open-Loop-Diagram.svg
Graficos/señal escalon respuesta.png
Graficos/Señal P.png
Graficos/Señal PI.png
Graficos/Señal PID.png
Graficos/toaster.jpg
P-120.mp4
PI-120.mp4
PID-120.mp4
informes.mplstyle
